:root {
  --heading-color: #2e2f42;
  --text-color: #434455;
  --focus-hover-color: #404bbf;
  --heder-logo-color: #4d5ae5;
  --body-color: #ffffff;
  --footer-color: #f4f4fd;
  --button-border: #e7e9fc;
}

.body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);

  background-color: var(--body-color);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header section*/

.page.header {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 5px;
  background: var(--body-color);
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heder-logo-color);
  margin-right: 76px;
}

.header-studio-color {
  color: var(--heading-color);
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--focus-hover-color);
}

.header-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current {
  color: var(--focus-hover-color);
}

.header-link.current::after,
.header-link:hover::after,
.header-link:focus::after {
  background-color: var(--focus-hover-color);
}

.adress-section {
  font-style: normal;
}

.adress-nav-list {
  display: flex;
  align-items: center;
}

.adress-nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-adress {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress:hover,
.header-adress:focus {
  color: var(--focus-hover-color);
}

/*Hero section*/

.hero-section {
  background: var(--heading-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--body-color);
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-btn {
  display: block;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  min-width: 169px;
  padding: 16px 32px;
  background: var(--heder-logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--body-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*Skills section*/

.skills-titles {
  display: flex;
  gap: 24px;
}

.skills {
  width: calc((100% - 72px) / 4);
}

.skills-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icons {
  gap: 24px;
  box-sizing: border-box;
}

.row-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.row-title-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*What are we doing*/

.works-section {
  padding-top: 0;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 72px;
}

.works-cards {
  display: flex;
  gap: 24px;
}

.screens {
  flex-basis: calc((100% - 48px) / 3);
}

/*Team section*/

.team-section {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-members {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding: 32px 0;
  text-align: center;
}

.row-title-team {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.centre-row-title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*Socials styles*/

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}
/*Customers section*/

.clients-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.clients-item {
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: #404bbf;
  color: var(--focus-hover-color);
}

.clients-icon {
  fill: currentColor;
}
/*Portfolio our projects*/

.portfolio-section {
  padding: 96px 0 120px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn,
.portfolio {
  display: flex;
  padding: 12px 24px;
  border: 1px solid var(--button-border);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--heder-logo-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  box-sizing: border-box;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid transparent;
  background-color: var(--focus-hover-color);
  color: var(--body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.flex-element {
  flex-basis: calc((100% - 48px) / 3);
}

.flex-cards {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.app-cards {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.app-cards:hover,
.app-cards:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-box {
  position: relative;
  overflow: hidden;
}

.flex-element:hover .overlay-label {
  transform: translateY(0%);
}

.app-cards:focus .overlay-label {
  transform: translateY(0%);
}

.overlay-label {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(300px);
  width: 360px;
  height: 300px;
  padding: 40px 32px;
  background: #4d5ae5;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/*Footer section*/

.footer-section {
  background-color: var(--heading-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-link {
  display: flex;
  align-items: baseline;
}

.logo-p2 {
  margin-right: 120px;
}

.footer-icons3 {
  margin-right: 80px;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-studio-color {
  color: var(--footer-color);
}

.footer-row-title {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);
}

.footer-sm-text {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
}

.sm-item {
  width: 40px;
  height: 40px;
}

.sm-linl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-linl:hover,
.sm-linl:focus {
  background-color: #31d0aa;
}

.sm-icon {
  fill: #f4f4fd;
}

.footer-contact-form {
  display: flex;
  flex-direction: column;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-field {
  position: relative;
  display: block;
  color: #ffffff;
  margin-right: 24px;
}

.footer-input::placeholder {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-input {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 0 8px 16px;
  background-color: transparent;
}

.sub-button {
  display: flex;
  text-align: left;
  padding-left: 24px;
  min-width: 165px;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 24px;
  height: 40px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-button:hover,
.sub-button:focus {
  background-color: #404bbf;
}

.sub-icon {
  position: absolute;
  fill: currentColor;
  margin-left: 16px;
  margin-right: 10px;
}

/*Modal styles*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  padding: 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  display: block;
  margin-top: 48px;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-form {
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #8e8f99;
}

.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  width: 360px;
  height: 40px;
  padding: 0 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline-color: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  pointer-events: none;
  transform: translateY(-50%) translateX(16px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-message {
  display: block;
  width: 360px;
  min-height: 120px;
  max-height: 180px;
  font-size: 12px;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:hover,
.modal-form-message:focus {
  outline-color: #4d5ae5;
}

.modal-form-message::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
}

.modal-form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 12px;
}

.modal-form-agreement-box {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  transition-property: background-color, border-color, background-size;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agreement-box:checked {
  background-color: #404bbf;
  border-color: #404bbf;
  background-size: 10px;
}

.modal-form-agreement-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-agreement-link {
  color: #4d5ae5;
}

.modal-btn {
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
  background: var(--heder-logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
